.about {
  min-height: 150vh;
  margin: 50px;
  color: #3c3c3c;
  padding-top: 30px;
}

body {
  background-color: #b9d6d1;
}

.aboutContent {
  font-size: 1.5rem;
  text-align: right;
  font-family: "Domaine";
  /* display: flex; */
}

.pageTitle {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imageRound1 {
  width: 20%;
  margin-right: 8%;
  float: right;
}

.imageRound2 {
  width: 20%;
  float: left;
  margin: 3%;
  margin-left: 8%;
  margin-top: 1%;
}


.aboutParagraph {
  margin-left: 8%;
  margin-right: 8%;
  float: none;
}