@import "_colors";

button {
  background-color: $button-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5%;
  transition-property: background-color, border;
  font-size: 16pt;

  &:hover {
    background-color: $button-hover-color;
    border: 5px solid black;
    transition: 0.5s ease, 0.5s ease;
  }
}
