
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  margin-top: 100px;
  margin-left: 38%;
  background-color: darkslategray;
  height: 380px;
  width: 320px;
  padding: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10%;
}

button {
  width: 50px;
  height: 50px;
  font-size: 14pt;
  font: bold;
  border-radius: 20%;
}

input {
  margin: 5%;
  margin-bottom: 10%;
  height: 70px;
  width: 60%;
  text-align: center;
  font-size: 16pt;
}

.flexgrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
  justify-content: stretch;
  align-items: stretch;
}

#buttoncalculate {
  height: 112px;
  border-radius: 0%;
  font: bolder;
  background-color: rgb(184, 184, 184);
}

.buttonlayout {
  margin: 6px;
}
